body {
  font-family: sans-serif, 'Myriad Pro';
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.container.main {
  background-color: #eef2f6;
  margin-left: 0;
}

.brand h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 12px;
  color: #1b3454;
  font-weight: bolder;
  text-shadow: -1px -1px 0 #142841, 1px 1px 0 #225077;
}

.user-profile {
  text-align: center;
  margin: 2rem 0;
}

.user-profile-avatar img {
  background: #999 no-repeat;
  max-width: 100%;
  max-height: 100%;
  width: 96px;
  height: 96px;
  border-radius: 48px;
  border: 3px solid #1b3454;
  margin: 0 auto 0.5rem;
}

.user-profile-name {
  font-weight: 600;
}

.user-profile .nav {
  background-color: #1d3d60;
}

.user-profile .nav-item {
  width: 25%;
  text-align: center;
}

.user-profile .nav-item:hover {
  background-color: #1b3454;
}

.user-profile .nav-item:hover a {
  color: #fff;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  width: 190px;
  background-color: #1F4569;
  color: #d0f0ff;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar .nav-link {
  font-weight: 500;
  color: #829fae;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
}

.sidebar .nav-link:hover {
  color: #fff;
  background-color: #1b3454;
}

.sidebar .nav-link.active {
  background-color: #1d3d60;
  color: #d0f0ff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Main
 */

#mainContainer {
  color: #444;
}

h2 {
  color: #444;
  font-size: 1.55rem;
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: 1px;
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

/*
 * Charts
 */
#mainContainer>.row {
  padding: 0 0 0 15px;
}

#mainContainer .row>div {
  padding-left: 0;
  padding-right: 15px;
}

#mainContainer .card {
  border-radius: 0;
  border: 1px solid #e4e4e4;
  box-shadow: 2px 2px 3px rgba(100, 100, 100, 0.06);
  margin-bottom: 15px;
}

#mainContainer .card-header {
  display: flex;
  border-bottom: 0;
  background-color: #fff;
  padding: 15px 15px 15px 20px;
  color: #444;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

#mainContainer .card-header span {
  font-size: 12px;
  color: #666;
}

#mainContainer .card-body {
  padding: 0 20px 15px;
}

#mainContainer .card-body .row {
  margin-right: 5px;
}

#mainContainer .card-body .row>div {
  padding: 0;
}

#mainContainer .card-body .row>.card-body {
  padding-left: 15px;
}

#mainContainer .card-body .row .card-header, #mainContainer .card-body .row .card-body {
  padding-right: 0;
}

.card-long-list .card-viewport {
  height: 220px;
  overflow: hidden;
  position: relative;
}

.chartWrapper, .stat-labels {
  overflow: hidden;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 100%;
  height: 1rem;
}

h4 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 100%;
  height: 1rem;
}

.chartWrapper {
  height: 220px;
}

.chartWrapper-high {
  height: 990px;
}

.chartWorld {
  height: 420px;
}

.chartWrapper-gender-age {
  height: 400px;
}

.switch-wrapper .col-form-label {
  font-size: 0.8rem;
  margin-right: 0.38rem;
}

.switch .btn-light.active {
  background-color: #236ca3 !important;
  border-color: #236ca3 !important;
  color: white !important;
}

.stat-labels {
  position: absolute;
  width: 100%;
  top: 2px;
  left: 8px;
}

.stat-label-item {
  font-size: 12px;
  height: 22px;
}

.stat-label-value span {
  display: inline-block;
  text-align: right;
  margin-left: 0.5rem;
}

.stat-label-value span.diff {
  width: 30px;
  text-align: left;
}

#stat_online_followers_heat {
  height: 280px;
}

.red {
  color: #c00000;
}

.green {
  color: #20c020;
}

.color1 {
  color: #3d92d4;
}

.color2 {
  color: #ffc107;
}

.color3{
  color: #48c0d4;
}

.color4 {
  color: #45aef9;
}

.color5 {
  color: #f28595;
}

.color6 {
  color: #c2def2;
}

.color-spinner {
  color: rgba(70, 179, 255, 0.54);
}