body {
  font-family: sans-serif, 'Myriad Pro';
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.container.main {
  background-color: #eef2f6;
  margin-left: 0;
}

.brand h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 0.5rem;
  color: #1b3454;
  font-weight: bolder;
  text-shadow: -1px -1px 0 #142841, 1px 1px 0 #225077;
}

.user-profile {
  text-align: center;
  margin: 2rem 0;
}

.user-profile-avatar img {
  background: #999 no-repeat;
  max-width: 100%;
  max-height: 100%;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 3px solid #1b3454;
  margin: 0 auto 0.5rem;
}

.user-profile-name {
  font-weight: 600;
}

.user-profile .nav {
  background-color: #1d3d60;
}

.user-profile .nav-item {
  width: 25%;
  text-align: center;
}

.user-profile .nav-item:hover {
  background-color: #1b3454;
}

.user-profile .nav-item:hover a {
  color: #fff;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  width: 190px;
  background-color: #1F4569;
  color: #d0f0ff;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar .nav-link {
  font-weight: 500;
  color: #829fae;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
}

.sidebar .nav-link:hover {
  color: #fff;
  background-color: #1b3454;
}

.sidebar .nav-link.active {
  background-color: #1d3d60;
  color: #d0f0ff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Main
 */

#mainContainer {
  color: #444;
}

h2 {
  font-size: 1.618rem;
  font-weight: 700;
}

.statCard {
  background-color: #fff;
  margin: 15px auto;
  padding: 15px;
  border: 1px solid #e4e4e4;
  box-shadow: 2px 2px 3px rgba(100, 100, 100, 0.06);
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

/*
 * Charts
 */
.chatWrapper {
  height: 360px;
}

.color1 {
  color: #3d92d4;
}

.color2 {
  color: #ffc107;
}